* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button,
textarea,
input[type=text],
input[type=email] {
  min-height: 44px !important;
  min-width: 44px !important;
}

a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

body {
  background-color: #f2f2f2;
}

section {
  padding: 5rem 0;
}

::selection {
  color: #ffffff;
  background: #e23535;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/PlayfairDisplay-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-size: 1rem;
}

p {
  line-height: 1.75;
}

p,
li {
  color: rgba(28, 28, 28, 0.75);
}

h1 {
  font-size: 4rem;
  line-height: 75px;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

.headline {
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #e23535;
}

.red {
  color: #e23535;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.5;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem !important;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: #e23535;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s ease;
  outline: none;
}
.btn--small {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1.2rem !important;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: #e23535;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s ease;
}
.btn-primary {
  background-color: #e23535;
  color: #fff;
  border: 1px solid #e23535;
}
.btn-primary:hover {
  background-color: #c71d1d;
  border: 1px solid #e23535;
  color: #f1f1f1 !important;
}
.btn-outline {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
}
.btn-outline:hover {
  border: 1px solid #e23535;
  color: #e23535;
}
.btn-icon {
  background-color: transparent;
  color: #000;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
.btn-icon:hover {
  color: red;
}
.btn-icon i {
  font-size: 1.25rem;
}

input[type=checkbox] {
  accent-color: #e23535;
}

.navbar {
  padding: 1rem 0;
  transition: all 0.3s ease;
  background-color: rgba(241, 241, 241, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.navbar-right {
  display: flex;
  gap: 0.5rem !important;
}
.navbar .container {
  position: relative;
}
.navbar-brand img {
  width: 100%;
  max-width: 200px;
}
.navbar-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar-nav .nav-item {
  font-size: 14px;
  font-weight: 600;
}

.nav-link {
  text-align: center;
}
.nav-link:hover {
  color: #e23535;
}
.nav-link.active {
  color: #e23535 !important;
}

.dropdown-v2 {
  position: absolute;
  display: flex;
  -webkit-user-select: none;
          user-select: none;
  align-items: stretch;
  justify-content: center;
  position: absolute;
  top: 400%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease;
  width: 100%;
  visibility: hidden;
}
.dropdown-v2 .btn {
  transition: all 0.3s ease;
}
.dropdown-v2 .btn:hover {
  background-color: #ffffff;
  color: #e23535;
}
.dropdown-v2.active {
  display: flex;
  -webkit-user-select: auto;
          user-select: auto;
  top: 430%;
  opacity: 1;
  visibility: visible;
}
.dropdown-v2__button {
  display: flex;
  align-items: center;
}
.dropdown-v2__button i {
  transition: all 0.3s ease;
}
.dropdown-v2__button button {
  display: flex;
  outline: none;
  border: none;
  background: none;
  color: rgba(28, 28, 28, 0.75);
  gap: 0.25rem;
}
.dropdown-v2__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dropdown-v2__left {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #e23535;
  color: #f1f1f1;
  padding: 2rem;
  gap: 1.5rem;
  border-radius: 1rem 0 0 1rem;
}
.dropdown-v2__left p {
  color: rgba(241, 241, 241, 0.75);
}
.dropdown-v2__left .btn {
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
}
.dropdown-v2__list {
  top: 2rem;
  left: 0;
  background-color: #ffffff;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0 1rem 1rem 0;
}
.dropdown-v2__list2 {
  width: 100%;
  top: 2rem;
  left: 0;
  background-color: #ffffff;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-start;
  border-radius: 0 1rem 1rem 0;
}
.dropdown-v2__list2 a {
  font-size: 14px !important;
  color: #e23535;
}
.dropdown-v2__item {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.dropdown-v2__item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.dropdown-v2__item2 a {
  border: 1px solid #1c1c1c;
  text-decoration: none;
  color: #1c1c1c;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  transition: all 0.3s ease;
}
.dropdown-v2__item2 a:hover {
  color: #e23535;
  border: 1px solid #e23535;
}
.dropdown-v2__item a {
  display: flex;
  text-decoration: none;
  color: #1c1c1c;
  padding: 0;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.3s ease;
}
.dropdown-v2__item a:hover {
  color: #e23535;
}

.footer {
  padding: 4rem 0;
  background-color: #171717;
}
.footer .headline {
  color: #f1f1f1;
}
.footer__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer hr {
  border: 1.5px solid rgba(255, 255, 255, 0.5);
}
.footer h2 {
  color: #f1f1f1;
  margin-top: 1rem;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem !important;
}
.footer__social a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
}
.footer__social a:hover {
  background-color: #e23535;
}
.footer__social a:hover i {
  color: #f1f1f1;
}
.footer p {
  color: #f1f1f1;
  margin-bottom: 0.25rem;
}
.footer ul {
  margin: 0;
  padding: 0;
}
.footer ul li {
  list-style: none;
}
.footer ul li a {
  text-decoration: none;
  color: rgba(241, 241, 241, 0.75);
  transition: all 0.3s ease;
}
.footer ul li a:hover {
  color: #e23535;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.marquee {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}
.marquee__asterix {
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1/1;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
.marquee:before {
  left: 0;
}
.marquee:after {
  right: 0;
}
.marquee-slide {
  display: inline-flex;
  align-items: center;
  animation: 30s slide infinite linear;
}
.marquee-slide img {
  height: 2rem;
  margin: 0 15px;
}

.banner {
  height: 480px;
  background-image: url("../../img/bg-pattern.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-category {
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-category__content {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.banner-category__content h2 {
  color: #f1f1f1;
}
.banner-category__content p {
  color: rgba(241, 241, 241, 0.75);
}

.hero {
  height: 100vh;
}
.hero__left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero__title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.hero__right {
  display: flex;
  justify-content: end;
}
.hero__right img {
  width: 90%;
}

.intro {
  padding: 10rem 0;
  background-image: url("../../img/bg-pattern.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.intro__content {
  margin: 0 auto;
  text-align: center;
}
.intro__content .headline {
  display: flex;
  justify-content: center;
}
.intro__content h2 {
  color: #f1f1f1;
}
.intro__content p {
  color: rgba(241, 241, 241, 0.75);
  margin-top: 0.5rem;
}
.intro__stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}
.intro__stats-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1rem;
}
.intro__stats-item p {
  color: #1c1c1c;
}
.intro__stats-item h3 {
  font-size: 2rem;
  font-family: "Inter", sans-serif;
}

.category {
  padding: 10rem 0;
}
.category__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.category__footer {
  text-align: center;
}
.category__header {
  text-align: center;
}
.category__header .headline {
  display: flex;
  justify-content: center;
}
.category__content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1.5rem;
}
.category__item {
  position: relative;
  border-radius: 1rem;
  height: 365px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #f1f1f1;
  transition: all 0.3s ease;
  background-position: center;
  overflow: hidden;
}
.category__item:hover img {
  scale: 1.1;
  filter: brightness(150%);
}
.category__item img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -o-object-fit: cover;
     object-fit: cover;
}
.category__item h6 {
  text-align: center;
  margin-bottom: 2rem;
  position: absolute;
  z-index: 2;
}
.category__link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.province__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.province__header {
  text-align: center;
}
.province__header .headline {
  display: flex;
  justify-content: center;
}
.province__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e23535;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  transition: all 0.3s ease;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 1.5rem;
  height: 75px !important;
}
.province__item img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -o-object-fit: cover;
     object-fit: cover;
}
.province__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Warna latar belakang overlay dan tingkat transparansi */
  z-index: 1;
  transition: opacity 0.3s ease; /* Transisi kegelapan */
}
.province__item:hover img {
  scale: 1.2;
}
.province__item:hover::before {
  opacity: 0.5;
}
.province__item p {
  z-index: 2;
  color: #f1f1f1;
  position: absolute;
  padding: 1rem;
  line-height: 1.2;
}
.province__link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  z-index: 3;
}

.benefit__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.benefit__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  transition: all 0.3s ease;
  cursor: help;
}
.benefit__item:hover {
  transform: translateY(-1rem);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.benefit__item img {
  width: 3rem;
  height: 3rem;
}

.testimonial {
  padding: 5rem 0;
}
.testimonial__col {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.testimonial__header {
  text-align: center;
}
.testimonial__header .headline {
  display: flex;
  justify-content: center;
}
.testimonial__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
}
.testimonial__content p {
  color: #f1f1f1;
}
.testimonial__content p.testimonial__job {
  font-size: 0.9rem;
  color: rgba(241, 241, 241, 0.75);
}
.testimonial__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
}
.testimonial__item {
  border: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: all 0.3s ease;
  border-radius: 50%;
}
.testimonial__item.active {
  border: 2px solid #e23535;
}
.testimonial__item.active img {
  width: 4rem;
  height: 4rem;
  padding: 0.25rem;
}
.testimonial__item img {
  aspect-ratio: 1/1;
  width: 2.5rem;
  transition: all 0.3s ease;
  height: 2.5rem;
}
.testimonial__content {
  background-color: #e23535;
}
.testimonial__name {
  font-weight: 600;
}

.offer {
  padding: 5rem 0;
  background-image: url("../../img/bg-pattern.jpg");
  color: #f1f1f1;
  background-size: cover;
  background-repeat: no-repeat;
}
.offer p {
  color: rgba(241, 241, 241, 0.75);
}
.offer .btn {
  margin-top: 1.5rem;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
}
.offer .btn:hover {
  background-color: #f1f1f1;
  color: #1c1c1c;
}

.login__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0;
  overflow: hidden;
}
.login__banner {
  position: relative;
}
.login__banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.login__information {
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.login__information h6 {
  color: #f1f1f1;
}
.login__information p {
  margin-top: 0.5rem;
  color: rgba(241, 241, 241, 0.75);
  font-size: 14px;
  line-height: 1.5;
}
.login__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 7rem;
  gap: 2rem;
}
.login__content img {
  width: 200px;
}
.login__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  border-radius: 0.5rem;
}
.login__button {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
}
.login__button .btn {
  justify-content: center;
}
.login__button .btn img {
  width: 1.2rem;
  height: 1.2rem;
  aspect-ratio: 1/1;
}
.login__footer p {
  font-size: 0.9rem;
}
.login__footer p a {
  text-decoration: none;
  color: #e23535;
}
.login__footer p a:hover {
  text-decoration: underline;
}
.login .input__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login .input__row label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}
.login .input__row a {
  min-height: unset !important;
}
.login .input__group {
  display: flex;
  gap: 1rem;
  width: 100%;
  border: 1px solid #cbd5e1;
  position: relative;
  height: 100%;
  border-radius: 0.5rem;
}
.login .input__group input {
  display: block;
  border: none;
  background: none;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: block;
}
.login .input__group input:focus {
  outline: none;
}
.login .input__group input:valid {
  background-color: #ffffff;
}
.login .input__group label {
  left: 1rem;
  top: -0.75rem;
  position: absolute;
  width: auto;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 0.9rem;
}
.login .input__group button {
  margin-right: 0.5rem;
}
.login a {
  color: #e23535;
  font-weight: 600;
  font-size: 0.9rem;
}
.login a:hover {
  text-decoration: underline;
}
.login label[for=terms] {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.5rem;
  cursor: pointer;
}
.login label[for=terms] p {
  line-height: 1.3;
}

.detail {
  margin-top: -27.5rem;
}
.detail__image img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
.detail__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  color: #f1f1f1 !important;
  text-align: center;
}
.detail__header h1 {
  text-align: center;
}
.detail__header .headline {
  color: #f1f1f1;
}
.detail__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.detail__content iframe {
  height: auto;
  border-radius: 1rem;
  aspect-ratio: 16/9;
}
.detail__section h4 {
  margin-bottom: 1rem;
}
.detail__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.detail__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  color: #1c1c1c;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}
.detail__item:hover {
  color: #e23535;
}
.detail__item:hover img {
  scale: 1.2;
}
.detail__item-content {
  padding: 1rem;
}
.detail__item-province {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #e23535;
  color: #f1f1f1;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 12px;
  font-weight: 600;
}
.detail__item-image {
  width: 100%;
  height: auto;
  overflow: hidden;
  aspect-ratio: 4/3;
  transition: 0.3s;
}
.detail__item img {
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  transition: all 0.3s ease;
}
.detail__comment-item {
  padding: 1rem 1.5rem;
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
}
.detail__comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail__comment-name {
  font-weight: 700;
}
.detail__comment-date {
  color: rgba(28, 28, 28, 0.75);
}
.detail__comment-text {
  margin-top: 0.5rem;
}

.comment__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 1rem;
  text-align: center;
}
.comment__form textarea {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #cbd5e1;
}
.comment__form .btn {
  justify-content: center;
}
.comment__message {
  background-color: #c5f8d5;
  color: #0d6628;
  border-radius: 0.5rem;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
}

.categories {
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.categories__filter {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}
.categories__filter-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.categories__filter select {
  display: flex;
  height: 54px;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  font-weight: 600;
  -webkit-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  border: 1px solid #cbd5e1;
  font-size: 0.9rem;
}
.categories__filter-search {
  padding: 0.25rem 0.25rem;
  padding-left: 0.75rem;
  width: 60%;
  background-color: #ffffff;
  border: 1px solid #cbd5e1;
  display: flex;
  align-items: center;
  transition: border 0.3s ease;
  border-radius: 0.5rem;
}
.categories__filter-search:has(input:focus) {
  border: 1px solid #e23535;
}
.categories__filter-search input[type=search] {
  width: 100%;
  border: none;
}
.categories__filter-search input[type=search]:focus {
  outline: none;
}
.categories__filter-search .btn-icon {
  background-color: #e23535;
  color: #f1f1f1;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}
.categories__filter-search .btn-icon:hover {
  background-color: #c71d1d;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }
  h1 {
    line-height: 1;
    font-weight: 900;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
  }
  .navbar {
    background-color: rgba(241, 241, 241, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .navbar-nav {
    gap: 0.5rem;
  }
  .navbar-right {
    flex-direction: column;
    gap: 1rem !important;
  }
  .navbar-collapse {
    padding: 1rem;
    height: 100vh;
    overflow-y: scroll;
  }
  .dropdown-v2 {
    display: none;
    transform: unset;
    transform: scaleY(0);
  }
  .dropdown-v2__list, .dropdown-v2__list2 {
    padding: 1rem;
    border-radius: 0.5rem;
  }
  .dropdown-v2__list2 {
    overflow-y: scroll;
    text-align: center;
    justify-content: center;
    gap: 0.1;
  }
  .dropdown-v2__item2 {
    text-align: center;
    justify-content: center;
  }
  .dropdown-v2__item2 a {
    display: flex;
    align-items: center;
    text-align: center !important;
    font-size: 12px !important;
    min-height: unset !important;
    min-width: unset !important;
    padding: 0.25rem !important;
  }
  .dropdown-v2__left {
    display: none;
  }
  .dropdown-v2.active {
    top: 0;
    left: 0;
    transform: unset;
    transform: scaleY(100%);
    position: static !important;
  }
  .dropdown-v2__button {
    display: flex;
    flex-direction: column;
  }
  .footer__left {
    width: 100%;
    text-align: center;
  }
  .footer__left h2 {
    margin-bottom: 1rem;
  }
  .footer__right {
    width: 100%;
    text-align: center;
  }
  .footer__right .footer__social {
    justify-content: center;
  }
  .footer__row {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .footer__row span.headline {
    display: inline-flex !important;
    text-align: center;
  }
  .footer__row h2 {
    text-align: center;
  }
  .hero {
    height: 100%;
  }
  .hero .row {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero__left {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero__left .headline {
    display: block;
  }
  .marquee {
    display: none;
  }
  .intro__content {
    width: 100%;
  }
  .login__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .login__content {
    width: 80%;
    margin: 0 auto;
  }
  .login__banner {
    display: none;
  }
  .detail__column {
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .hero__right img {
    width: 75%;
    margin: 0 auto;
  }
  .footer__right .row {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .footer__right .row .col-12 {
    width: 100%;
  }
  .footer h2 {
    text-align: center;
    margin-bottom: 2.5rem;
  }
  .footer span.headline {
    display: flex;
    text-align: center !important;
  }
  .footer__left, .footer__right {
    width: 100%;
  }
  .intro__stats {
    grid-template-columns: repeat(1, 1fr);
  }
  .intro__stats-item {
    margin: 0 auto;
    width: 50%;
    align-items: center;
  }
  .category__content {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
  .offer p {
    margin-top: 1rem;
  }
  .login__content {
    padding: 3rem 6rem;
  }
  .login__content {
    width: 100%;
    margin: 0 auto;
  }
  .categories__filter {
    flex-direction: column;
  }
  .categories__filter-search {
    width: 100%;
  }
  .categories__filter-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .categories__select {
    width: 33%;
  }
}
@media screen and (max-width: 576px) {
  .category__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .login__content {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 425px) {
  .categories__filter-group {
    display: flex !important;
    flex-wrap: wrap !important;
  }
  .categories__filter select {
    height: 40px;
  }
}
@media screen and (min-width: 993px) {
  .navbar-nav {
    gap: 0.75rem !important;
  }
  .dropdown-provinsi {
    top: 550%;
  }
  .dropdown-provinsi.active {
    top: 570%;
  }
  .login__content {
    padding: 2rem 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar-nav {
    gap: 1rem !important;
  }
  .dropdown-provinsi {
    top: 500% !important;
  }
  .dropdown-provinsi.active {
    top: 520% !important;
  }
  .login__content {
    padding: 4rem 7rem;
  }
}/*# sourceMappingURL=main.css.map */