* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
button,
textarea,
input[type="text"],
input[type="email"] {
    min-height: 44px !important;
    min-width: 44px !important;
}

a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

body {
    background-color: $body;
}

section {
    padding: 5rem 0;
}

::-moz-selection {
    color: $white;
    background: $red;
}

::selection {
    color: $white;
    background: $red;
}

.bg-primary {
    background-color: $red !important;
}

.text-primary {
    color: $red !important;
}
