@media screen and (min-width: 1280px) {
    .navbar {
        &-nav {
            gap: 1rem !important;
        }

        &-right {
            min-width: 200px;
            justify-content: flex-end;
        }
    }

    .dropdown-provinsi {
        top: 500% !important;

        &.active {
            top: 520% !important;
        }
    }

    .login {
        &__content {
            padding: 4rem 7rem;
        }
    }
}
