@media screen and (max-width: 576px) {
    .category {
        &__content {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .login {
        &__content {
            padding: 2rem 4rem;
        }
    }
}

@media screen and (max-width: 425px) {
    .categories {
        &__filter {
            &-group {
                display: flex !important;
                flex-wrap: wrap !important;
            }

            select {
                height: 40px;
            }
        }
    }
}
