.categories {
    margin-top: 4rem;
    margin-bottom: 5rem;

    &__filter {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        gap: 1rem;

        &-group {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        select {
            display: flex;
            height: 54px;
            padding: 0.25rem 0.75rem;
            border-radius: 0.5rem;
            font-weight: 600;
            appearance: none;
            background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            background-repeat: no-repeat;
            background-position-x: 100%;
            background-position-y: 50%;
            border: 1px solid $border;
            font-size: 0.9rem;
        }

        &-search {
            padding: 0.25rem 0.25rem;
            padding-left: 0.75rem;
            width: 60%;
            background-color: $white;
            border: 1px solid $border;
            display: flex;
            align-items: center;
            transition: border 0.3s ease;
            border-radius: 0.5rem;

            &:has(input:focus) {
                border: 1px solid $red;
            }

            input[type='search'] {
                width: 100%;
                border: none;

                &:focus {
                    outline: none;
                }
            }

            .btn-icon {
                background-color: $red;
                color: $text-white;
                border-radius: 0.25rem;
                transition: all 0.3s ease;

                &:hover {
                    background-color: darken($color: $red, $amount: 10%);
                }
            }
        }
    }
}
