.banner {
    height: 480px;
    background-image: url('../../img/bg-pattern.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.province-profile {
    margin-top: -27.5rem;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
        color: $text-white !important;
        text-align: center;

        h1 {
            text-align: center;
        }

        .headline {
            color: $text-white;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        iframe {
            height: auto;
            border-radius: 1rem;
            aspect-ratio: 16/9;
        }
    }

    &__section {
        h4 {
            margin-bottom: 1rem;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $white;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;
        width: 100%;
        color: $text-black;
        transition: all 0.3s ease;
        margin-bottom: 1rem;

        &:hover {
            color: $red;

            img {
                scale: 1.2;
            }
        }

        &-content {
            padding: 1rem;
        }

        &-province {
            position: absolute;
            top: 1rem;
            left: 1rem;
            background-color: $red;
            color: $text-white;
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
            font-size: 12px;
            font-weight: 600;
        }

        &-image {
            width: 100%;
            height: auto;
            overflow: hidden;
            aspect-ratio: 4/3;
            transition: 0.3s;
        }

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 4/3;
            transition: all 0.3s ease;
        }
    }
}
