.hero {
    height: 100vh;

    &__left {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__right {
        display: flex;
        justify-content: end;

        img {
            width: 90%;
        }
    }
}
