.form-label {
    font-weight: 600 !important;
}

table {
    border: 1px solid $border;
    tbody {
        td {
            vertical-align: middle;
            color: $text-black;
        }
    }

    .column-action {
        display: inline-flex;
        gap: 0;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $border;
            border-radius: 0.25rem;

            &:hover {
                border: 1px solid $red;

                i {
                    color: $red !important;
                }
            }
        }

        .bg-danger {
            transition: all 0.3s ease;
            background-color: $red !important;

            &:hover {
                background-color: darken($red, 10%) !important;
            }
        }
    }
}

trix-editor {
    background-color: $white;
}

trix-toolbar .trix-button--icon::before {
    height: 1.5rem;
    width: 1.5rem;
    background-position: center;
}

trix-toolbar .trix-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
}

.dashboard-admin {
    &__grid {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}

.navbar-dark {
    padding: 0.5rem 1rem !important;
    flex-wrap: wrap;

    .navbar-brand {
        display: block;
        font-size: 1rem;
        color: $text-white-secondary;

        strong {
            color: $text-white;
        }
    }

    img {
        width: 200px;
    }

    .navbar-brand {
        display: none;
    }
}

.dashboard {
    &__stats {
        &-item {
            background-color: #fff;
            padding: 1.5rem;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
            transition: all 0.3s ease;

            &:hover {
                background-color: $red;
                color: $text-white;

                p {
                    color: $text-white;
                }
            }
        }
    }
}
