.btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem !important;
    text-decoration: none;
    border-radius: 0.5rem;
    background-color: $red;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s ease;

    &-primary {
        background-color: $red;
        color: #fff;
        border: 1px solid $red;

        &:hover {
            background-color: $red-darken;
            border: 1px solid $red;
            color: $text-white;
        }
    }

    &-outline {
        background-color: transparent;
        color: #000;
        border: 1px solid #000;

        &:hover {
            border: 1px solid $red;
            color: $red;
        }
    }
}
