.btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem !important;
    text-decoration: none;
    border-radius: 0.5rem;
    background-color: $red;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s ease;
    outline: none;
    text-align: center;
    justify-content: center;

    &--small {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0 1.2rem !important;
        text-decoration: none;
        border-radius: 0.5rem;
        background-color: $red;
        color: #fff;
        font-weight: 600;
        font-size: 14px;
        transition: all 0.3s ease;
    }

    &-primary {
        background-color: $red;
        color: #fff;
        border: 1px solid $red;

        &:hover,
        &:active,
        &:focus {
            background-color: $red-darken !important;
            border: 1px solid $red !important;
            color: $text-white !important;
            outline: none !important;
        }
    }

    &-outline {
        background-color: transparent;
        color: #000;
        border: 1px solid #000;

        &:hover,
        &:active,
        &:focus {
            border: 1px solid $red;
            background-color: transparent;
            color: $red;
        }
    }

    &-icon {
        background-color: transparent;
        color: #000;
        border: none;
        outline: none;
        transition: all 0.3s ease;

        &:hover,
        &:active,
        &:focus {
            background-color: transparent;
            color: red;
            border: none;
        }

        i {
            font-size: 1.25rem;
        }
    }
}

input[type="checkbox"] {
    accent-color: $red;
}
